{
  "endOfLine": "auto",
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 100,
  "semi": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react(.*)",
    "^@tanstack/(.*)$",
    "^recoil(.*)",
    "^axios(.*)",
    "^@/pages/(.*)$",
    "^@/components/(.*)$",
    "^@/stores/(.*)$",
    "^@/hooks/(.*)$",
    "^@/apis/(.*)$",
    "^@/utils/(.*)$",
    "^@/constants/(.*)$",
    "^@/assets/(.*)$",
    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
