{
  "endOfLine": "auto",
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 100,
  "semi": true,
  "importOrder": [
    "^react(.*)",
    "^@tanstack/(.*)$",
    "^recoil(.*)",
    "^axios(.*)",
    "^@pages/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
